{% extends 'hospital/homebase.html' %}


{% block content %}
<style>
  p{
    font-family: 'Montserrat', sans-serif;
    color: #12478f;

  }
  h1 {
    color: #009de1;
    font-family: 'Montserrat', sans-serif;
  }
  a.btn{
    background: #009de1;
    color: #fff;
    margin-top: 12px;
    display: inline-block;
    font-size: 20px;
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    transition:0.7s;
    width:200px;
  }
  a.btn:hover{
    background:#152B61;
</style>

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Hello Doctor</h1>
  <p class="lead">Welcome to EHospital.</p>
  <hr class="my-4">
  <p>Access various features after Login/SignUp.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/doctorsignup" role="button">Apply</a>
    <a class="btn btn-primary btn-lg" href="/doctorlogin" role="button">Login</a>
  </p>
</div>

{% endblock content %}
